php_value short_open_tag 1
php_value upload_max_filesize 10M
php_value post_max_size 10M

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/data
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]